        /* desktop grid */

        #content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            /* grid-auto-rows: minmax(10px, auto); */
            grid-template-rows: auto 1fr auto;
            max-width: 980px;
            margin: 0 auto;
            grid-template-areas:
                "header header header header"
                "main main main main"
                "whatido whatido whatido whatido"
                "mystory mystory mystory mystory"
                "bottom-contact bottom-contact bottom-contact bottom-contact"
                "footer footer footer footer";
        }

        html,
        body {
            height: 100vh;
            min-height: 100vh;
            overflow-x: hidden;
            margin: 0px;
            padding: 0px;
        }

        body {
            color: #222222;
            text-align: center;
            background-color: #F5F5F5;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        #content {
            min-height: 100vh;
        }

        h1,
        h2,
        h3 {
            font-family: 'Oswald', sans-serif;
            font-weight: "bold";
        }

        p {
            font-family: 'Work Sans';
            font-size: 16px;
        }

        h2 {
            font-size: 30px;
            margin-bottom: 30px;
        }
        h3 {
            font-size: 24px;
        }

        /* mobile */
            header {
                grid-area: header;
                height: 300px;
                position: absolute;
                background-image: url('../images/bulb-small.jpg');

                width: 100%;
                left: 0;
                right: 0;
                top: 0;
                z-index: 0;
                bottom: 0;
                background-position: 50% 50%; 
                background-repeat: no-repeat;

                -webkit-background-size: 100%; 
                -moz-background-size: 100%; 
                -o-background-size: 100%; 
                background-size: 100%; 
                    
                -webkit-background-size: cover; 
                -moz-background-size: cover; 
                -o-background-size: cover;
                background-size: cover;


                -webkit-filter: grayscale(10%);
                filter: grayscale(10%);
            }
       
        /* desktop */
        @media screen and (min-width: 760px) {
            header {
                grid-area: header;
                height: 500px;
                position: absolute;

                background-image: url('../images/bulb-large.jpg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; 

                -webkit-filter: grayscale(10%);
                filter: grayscale(10%);
            }

            #introduction {
                max-width: 500px;
                display: inline-block; 
            }

        }

        main {
            grid-area: main;
            position: relative;
            padding-top: 75px;
            padding-bottom: 50px;
            /* text-align: center;
            width: 100%; */
        }

        section#mystory {
            grid-area: mystory;
            padding-top: 10px;
            padding-bottom: 50px;
            /* background-color: #FFFFFF; */
        }

        section#whatido{
            grid-area: whatido;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #ececec;
        }

        section#bottom-contact{
            grid-area: bottom-contact;
            position: relative;
            padding-top: 50px;
            padding-bottom: 50px;
            background-color: #ececec;
        } 

        footer {
            grid-area: footer;
            color: #ffffff;
            background-color: #222222;
            height: 60px;
            padding: 25px;
            /* margin-top: 50px; */
        }

        footer p{
            font-size: 12px;
            margin: 0px;
        }

        .content-overflow {
            left: 50%;
            margin-left: -50vw;
            width: 100vw;
            min-width: 100%;
            box-sizing: border-box;
            position: relative;
        }

        .profile-img {
            /*half the width*/
            margin-left: -75px;
            border-radius: 50%;
            border: #FFFFFF;
            border-style: solid;
            top: -80px;
            position: absolute;
        }

        .contanct-box {
            margin: 10px;
            display: flex;
            justify-content: center;
        }
        .box {
            margin: 40px;
            display: flex;
            justify-content: center;
        }
        .box-whatido {
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
        }

        .box-small {
            padding: 10px;
            flex-direction: row;
        }

        .box-small-whatido {
            /* margin-left: 25px;
            margin-right: 25px; */
            flex-direction: row;
            width:45vw;
        }

        @media screen and (min-width: 760px) {
            .box-small-whatido {
                /* margin-left: 25px;
                margin-right: 25px; */
                flex-direction: row;
                width: 300px;
            }
        }

        @media screen and (max-width: 760px) {

            #introduction {
                max-width: 80vw;
                display: inline-block; 
            }

        }

        .box-small-whatido h3{
            margin: 5px;
        }



        /* .timeline {
            padding: 50px;
        } */


        /* #whatido::after{
            content: '';
            position: absolute;
            z-index: -1;
            background: #c90c0c;
            width: 350px;
            height: 350px;
            border-radius: 50%;
        } */

